{
	"General" : {
		"version" 	: "1.0",
		"author" 	: "Jan Bein"
	},
	
	"InfluxDB" : {
		"hostname"	: "localhost",
		"username" 	: "USERNAME",
		"password" 	: "PASSWORD",
		"database" 	: "DATABASE"
	},

	"Grafana" : {
		"hostname" 	: "URL",
		"username" 	: "USERNAME",
		"password" 	: "PASSWORD",
		"dashboard" : "DASHBOARD",
		"panelID"	: 1
	},

	"Tanks" : {
		"0" : {
			"name" 		: "BigTank",
			"volume"	: 600,
			"location" 	: "Livingroom"
		}
	}
}
